.repository-content-wrapper {
  background-color: white;
  max-width: 100%;
  margin-bottom: 5px;
}

.repository-title {
  margin: 12px;
  font-family: Raleway;
  font-size: 35px;
  color: #ac53f2;
  word-wrap: break-word;
}

.repository-description {
  margin: 12px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  text-align: justify;
  word-wrap: break-word;
}

.repository-content-wrapper img {
  position: relative;
  width: 25.5px;
  height: 24.5px;
  margin-left: 12px;
  margin-right: 8px;
  padding-bottom: 8px;
}

.repository-rate {
  display: flex;
  align-items: center;
  font-family: Raleway;
}

.repository-quantity {
  padding-bottom: 5px;
}

@media (max-width: 600px) { 
  .repository-content-wrapper {
    max-width: 100%;
    height: auto;

    margin: 10px;
    margin-top: 0;
  }
}