* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Monaco';
  src: url('../../assets/fonts/Monaco.ttf')
}

.wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

section {
  flex: 1;
  flex-grow: 3;

  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  section {
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
  }
}