.home-wrapper {
  width: 100%;
  max-height: 100vh;
  height: 100%;
  position: absolute;
  overflow-x: hidden;
  font-family: Raleway, 'sans-serif';
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-search {
  font-size: 60px;
  text-align: center;
  width: 650px;
  height: 50px;
}

.logo {
  font-family: Monaco;
}

p span {
  font-family: "Raleway";
  font-style: italic;
}