aside {
  /* background-color: yellow; */
  height: auto;
  width: 30%;

  display: flex;
  flex-direction: column;
}

aside p {
  display: flex;
  font-family: Raleway;
  justify-content: center;
}

.user-name {
  margin-top: 15px;
  font-size: 25px;
} 

.user-login {
  margin-top: 5px;
  font-size: 18px;
}

.avatar {
  width: 290px;
  height: 290px;
  margin-top: 30px;
  margin-left: 15%;
  margin-right: 15%;
}

@media (max-width: 600px) { 
  aside {
    /* background-color: yellow; */
    height: 370px;
    width: 100%;

    display: flex;
    flex-direction: column;
  }

  aside p {
    display: flex;
    font-family: Raleway;
    justify-content: center;
  }

  .user-name {
    margin-top: 15px;
    font-size: 25px;
  } 

  .user-login {
    margin-top: 5px;
    font-size: 18px;
  }

  .avatar {
    width: 50%;
    height: 50%;
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
  }
}