.content-item {
  display: flex;
  margin-top: 7px;
  margin-bottom: 7px;
  color: #5c5c5c;
}

.content-item img {
  margin-bottom: 14px;
}

.content-item p {
  margin-left: 5px;
  margin-top: 5px;
}

.user-followers::after {
  content: "\00a0seguidores";
}

.user-followers,
.user-following,
.user-company,
.user-location,
.user-stars,
.user-email,
.user-bio {
  font-family: 'Raleway'
}

@media (max-width: 600px) {
  .content-item {
    justify-content: center;
  }
}