nav {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  height: 100px;
  max-width: 100%;
}

.info-page {
  background-color: blue;
  width: 50%;
  height: 100px;
}

.search-box {
  background-color: green;
  width: 50%;
  height: 100px;
}

@media (max-width: 600px) { 
  nav {
    display: flex;
    flex-direction: column; 
    height: 100px;
    max-width: 100%;
  }

  .info-page {
    background-color: blue;
    width: 100%;
    height: 100px;
  }

  .search-box {
    background-color: green;
    width: 100%;
    height: 100px;
  }
}