footer {
  background-color: #7640a0;
  height: 70px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
}

.fixed {
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
}